body {
  font-family: Verdana, Arial;
  font-size: 18px;
  background-color: beige;
}

h1 {
  background-color: gray;
  font-size: 1em;
  color: #f5f6f5;
  line-height: 2em;
}

.taskList {
  padding-left: 0;
}
.taskList > li {
  background: linear-gradient(#fff, #f6f6f7);
  border: 1px solid #bbb86f;
  width: 86%;
  margin: 0 auto 10px;
  list-style-type: none;
  padding: 0.4em 1.2em;
}
.done {
  text-decoration: line-through;
  opacity: 0.3;
}
